body {
    background-color:rgb(245, 204, 229);
}

.btn {
    cursor: pointer;
} 

body{
    color : rgb(34, 192, 240);
}

.clicked {
    color : #66a4a8;
}

.form,
.greetings{
    display: none;
}

.showing {
    display: block;
}