body {
    margin: 0;
    padding: 0;
}

header {
    background: yellow;
    margin: 10px;
    padding: 20px;
}

header nav {

}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin: 10px;
}

/* h2{
    padding-bottom: 1000px;
} */


main {
    display: flex;
}

section {
    width: 70%;
    background: yellowgreen;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;

}

section h1 {

}

article {
    background: burlywood;
    margin-bottom: 10px;
    padding: 10px;
}

article h2 {

}

article p {

}

aside {
    background: red;
    width: 30%;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background: burlywood;
    margin: 10px;
    padding: 20px;
}

footer address {

}

footer address a:nth-child(1){
    font-weight: bold;
    width:100px;
    line-height: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 6px;
    display: block;
    text-align: center;
}
footer address a:nth-child(1):hover{
    background: orange;
}


footer address a{
    
}

table {
    border-collapse: collapse;
}

td{
    border: 1px solid red;
    padding: 10px;
}

th{
    border: 1px solid red;
    background-color: lightslategrey;
}