body {
    margin: 0;
    padding: 0;
}

div{
    color: red;
    background-color: yellowgreen;
    width: 100px;
    height: 30px;
    margin: 20px;
    padding: 20px;
}

span{
    color: turquoise;
    background-color: teal;
    width: 100px;
    height: 30px;
}
